  

 h2 {
    border: 5px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0px;
    margin-left: 10px;
    background-color: rgb(201, 173, 230);
  }


  P {
    background-color: yellow;
  }



  li {
    padding: 0px;
    border: 1px solid #af4c84;
  }

  body {
    width: 100%;
    max-width: 1024px;
    margin: 8;
    
}

#mainHeading {
    background-color: red;
  }

  #funParagraph {
    background-color: green;
  }